<.header>
  Panic
  <:actions>
    <.link patch={~p"/users/log_in"}>
      <.button>Log in</.button>
    </.link>
  </:actions>
  <:actions>
    <.link patch={~p"/users/register"}>
      <.button>Register</.button>
    </.link>
  </:actions>
</.header>
