/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}

.phx-disconnected *{
  pointer-events: none;
}

/*
  Helpers for when you want to show/hide elements based on whether LiveView is loading - useful for showing a loading spinner.
  eg.
  <.button label="Submit" class="hide-if-loading" />
  <.spinner class="show-if-loading" />
*/
.show-if-loading, .show-if-loading-flex {
  display: none !important;
}

.phx-click-loading .hide-if-loading, .phx-change-loading .hide-if-loading {
  display: none !important;
}

.phx-click-loading .show-if-loading, .phx-change-loading .show-if-loading {
  display: initial !important;
}

.phx-click-loading .show-if-loading-flex, .phx-show-loading .show-if-loading-flex {
  display: flex !important;
}
