<.layout type="public" current_user={assigns[:current_user]} current_page={:license}>
  <.container class="my-10 lg:my-20">
    <.pretty_markdown content={license_markdown()} class="mx-auto" />
  </.container>
</.layout>
