<div>
  <.form
    let={f}
    for={@changeset}
    id="<%= schema.singular %>-form"
    action={@action}>
    <%= for input <- inputs, input do %>
    <%= input %>
    <% end %>
    <div class="flex justify-end">
      <.button
        type="submit"
        phx_disable_with="Saving..."
        label="Save"
      />
    </div>
  </.form>
</div>
