<div>
  <.form
    let={f}
    for={@changeset}
    id="first-run-input"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="create_run"
  >
    <.form_field type="text_input" form={f} field={:input} />
    <.button class="mb-8 bg-green-600" type="submit" phx_disable_with="Saving..." label="Go!" />
  </.form>
</div>
