<div>
  <.form
    let={f}
    for={@changeset}
    id="starting-input"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="create_run"
  >

    <div>
      <.form_field class="w-48" type="text_input" form={f} field={:input} />
      <.button class="inline-block" type="submit" phx_disable_with="Saving..." label="Save" />
    </div>
  </.form>
</div>
