<div>
  <.form
    let={f}
    for={@changeset}
    id="network-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.form_field type="text_input" form={f} field={:name} />

    <div class="flex justify-end">
      <.button type="submit" phx_disable_with="Saving..." label="Save" />
    </div>
  </.form>
</div>
